<div class="container">
  <div class="row">
    <h2 class="m-1">会員情報編集</h2>
  </div>

  <div class="row">
    <div class="col-md-10">
        <%= form_with model:@customer, url: public_customer_path(@customer), local:true do |f| %>
        <table class="table">
          <tbody>
            <tr>
              <td>名前</td>
              <td><%= f.text_field :last_name  %></td>
              <td><%= f.text_field :first_name %></td>
            </tr>
            <tr>
              <td>フリガナ</td>
              <td><%= f.text_field :kata_last_name %></td>
              <td><%= f.text_field :kata_first_name %></td>
            </tr>
            <tr>
              <td><%= f.label :postal_code, "郵便番号" %></td>
              <td><%= f.text_field :postal_code %></td>
            </tr>
            <tr>
              <td><%= f.label :address, "住所" %></td>
              <td><%= f.text_field :address, class: "addressnameedit" %></td>
            </tr>
            <tr>
              <td><%= f.label :telephone_number, "電話番号" %></td>
              <td><%= f.text_field :telephone_number  %></td>
            </tr>
            <tr>
              <td><%= f.label :email, "メールアドレス"  %></td>
              <td><%= f.email_field :email, autocomplete: "email" %></td>
            </tr>
            <tr>
              <td>
                <%= f.submit "編集内容を保存", class: "btn btn-success editprofile" %>
                <%= link_to "退会する", unsubscribe_public_customers_path, class: "btn btn-danger" %>
              </td>
            </tr>
          </tbody>
        </table>
        <% end %>
    </div>
  </div>
</div>