<div class="container">
  <h1>マイページ</h1>
  <br>

  <div class="row">
    <div class="col-xs-3">
      <p><b>登録情報</b></p>
    </div>
    <div class="col-xs-6">
      <%= link_to "編集する", edit_public_customer_path(current_customer), class: "btn btn-success" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <table class="table table-bordered my-3">
        <tr>
          <td class="active">氏名</td>
          <td><%= "#{@customer.last_name} #{@customer.first_name}" %></td>
        </tr>
        <tr>
          <td class="active">カナ</td>
          <td><%= "#{@customer.kata_last_name} #{@customer.kata_first_name}" %></td>
        </tr>
        <tr>
          <td class="active">郵便番号</td>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <td class="active">住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td class="active">電話番号</td>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <td class="active">メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <span class="mr-5"><b>配送先</b></span>
    </div>
    <div class="col-xs-6">
      <%= link_to "一覧を見る", public_addresses_path, class: "btn btn-primary mb-3" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <span class="mr-4"><b>注文履歴</b></span>
    </div>
    <div class="col-xs-6">
      <%= link_to "一覧を見る", public_orders_path, class: "btn btn-primary" %>
    </div>
  </div>


</div>