<div class="container">
  <div class="row">
    <h4>会員一覧</h4>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="customertable">
        <thead>
           <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>         
        </thead>
        <tdody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.id %></td>
              <td><%= link_to customer.last_name+customer.first_name, admin_customer_path(customer.id) %></td>
              <td><%= customer.email %></td>
              <td>
                <% if customer.validation == false %>
									<%= "有効" %>
								    <% else %>
									<%= "退会" %>
								<% end %>
							</td>
            </tr>
            <% end %>
        </tdody>
      </table>
    </div>
  </div>
</div>