<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>注文履歴一覧</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= link_to admin_admin_orders_path(@order.id) do %><%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %><% end %></td>
              <td><%= order.name %></td>
                <% @num =0 %>
              <td>
                <% @order_details.each do |order_detail| %>
                <% @num += order_detail.amount %>
                <% end %>
                <%= @num %>
              </td>
              <td><%= order.status_i18n %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
		<div class="col-md-4 col-md-offset-4">
			  <div class="mx-auto">
				  <%= paginate @orders %>
			  </div>
		  </div>
	  </div>
  </div>
</div>