<div class="container">
  <div class="row">
    <h1>注文情報確認</h1>
  </div>
      <div class="row">
        <div class="col-md-7">
          <table class="table table-bordered">
          <thead>
              <tr>
                <th>商品名</th>
                <th>単価(税込)</th>
                <th>数量</th>
                <th>小計</th>
              </tr>
          </thead>
          <tbody>
              <% @num = 0 %>
              <% @cart_items.each do |cart_item| %>
              <tr>
                <td>
                  <%= attachment_image_tag cart_item.item, :image, format: "jpg", class: "float-left", fallback: "logo.png", size: "40x40"  %>
                  <%= cart_item.item.name %>
                </td>
                <td><%= cart_item.item.with_tax_price %></td>
                <td><%= cart_item.amount %></td>
                <td>
                  <%= (((cart_item.item.price) * (cart_item.amount)) * 1.1).floor %>
                  <% @num += (((cart_item.item.price) * (cart_item.amount)) * 1.1).floor %>
                </td>
              </tr>
              <% end %>
          </tbody>
          </table>
        </div>
        <div class="col-md-3 offset-md-1">
          <table class="table table-bordered">
            <tr>
              <td>送料</td>
              <td><%= 800 %></td>
            </tr>
               <tr>
                <td>商品合計</td>
                <td><%= @num %></td>
              </tr>
                  <tr>
                  <td>請求金額</td>
                  <% total = @num+800 %>
                  <td><%= total %></td>
                </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 orderconfirmation2">
          <table>
            <tbody>
              <tr>
                <td>支払方法</td>
                <td><%= @orders.payment_method_i18n %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <table>
            <tbody>
              <tr>
              <td class="mb-3">お届け先</td>
              <td>
                <%= @orders.postal_code %><%= @orders.address %></br>
                <%= @orders.name %>
              </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
        <div class="row">
          <div class="col-md-3 offset-md-5">
             <%= form_with model:@orders, url: public_orders_path, local:true do |f| %>
              <%= f.hidden_field :postal_code, value: @orders.postal_code %>
              <%= f.hidden_field :address, value: @orders.address %>
              <%= f.hidden_field :name, value: @orders.name %>
              <%= f.hidden_field :total_payment, value: total %>
              <%= f.hidden_field :payment_method, value: @orders.payment_method %>
              <%= f.submit "注文を確定する", class: "btn btn-success" %>
            <% end %>
          </div>
        </div>
</div>