<div class="container">
  <div class="row">
   <div class="col-md-6 col-md-offset-1">
     <h3>注文履歴詳細</h3>
   </div>
  </div>
   <div class="row">
    <div class="col-md-7">
      <h4>注文情報</h4>
        <table class="table table-hover table-bordered">
          <tbody>
            <tr>
              <td>注文日</td>
              <td><%= @order.created_at.strfttime('%Y/%m/%d') %></td>
            </tr>
            <tr>
              <td>配送先</td>
                <td>
                  <%= @order.postal_code %>
                  <%= @order.aaddress %>
                  <%= @order.name %>
                </td>
            </tr>
            <tr>
              <td>支払方法</td>
              <td><%= @order.total_payment %><</td>
            </tr>
            <tr>
              <td>ステータス</td>
              <td><%= @order.status %></td>
            </tr>
          </tbody>
        </table>
    </div>
      <div class="col-md-4">
        <h4>請求情報</h4>
          <table class="table table-hoever table-bordered">
            <tbody>
              <tr>
                <td>商品合計</td>
                <td><%= @cart_item.subtotal %></td>
              </tr>
              <tr>
                <td>配送料</td>
                <td><%= @order.shipping_cost %></td>
              </tr>
              <tr>
                <td>ご請求額</td>
                <td><%= @order.total_payment %></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>     
      <div class="row">
        <div class="col-md-9">
          <h4>注文内容</h4>
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>商品</th>
                  <th>単価(税込)</th>
                  <th>個数</th>
                  <th>小計</th>
                </tr>
              </thead>
              <tbody>
                <% @cart_items.each do |cart_item| %>
                <tr>
                  <td><%= cart_item.item.name %></td>
                </tr>
                <tr>
                  <td><%= cart_item.item.with_tax_price %></td>
                </tr>             
                <tr>
                  <td><%= cart_item.amount %></td>
                </tr>              
                <tr>
                  <td><%= cart_item.subtotal %></td>
                </tr>              
              </tbody>
            </table>
        </div>
      </div>

</div>