<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= render 'layouts/genre_search_sidebar', genres: @genres %>
    </div>
      <div class="col-md-2">
        <%= attachment_image_tag @item, :image, format: 'jpg', fallback: "logo.png", size: "150x150" %><br>
      </div>
      <div class="col-md-8">
        <table class="itemtable">
          <tbody>
            <tr>
              <td><b><%= @item.name %></b></td>
            </tr>
            <tr>
              <td><%= @item.introduction %><br></td>
            </tr>
            <tr>
              <td>
                <% if @item.validation == true %>
                <%= (@item.price*1.1).floor %>  (税込)<br>
                <% else %>
                soldout<br>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>
                  <% if @item.validation == true %>
                  <%= form_for(@cart_item, url: public_cart_items_path) do |f| %>
                  <%= f.hidden_field :item_id, value: @item.id %>
                  <%= f.select :amount, *[1..10] %>
                  <%= f.submit 'カート入れる', class: "btn btn-success" %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>